In [19]:
import pandas as pd
import json

In [20]:
df_synth = pd.read_csv("../data/similar_prompt_reviews_02.csv", sep=";")#, index=False)
df_synth = df_synth.dropna(axis=0).reset_index()

In [21]:
df_synth

      index    id                                     chatgpt-output
0         0     0  {"review1" : "I AM CURIOUS-YELLOW is a complet...
1         1     1  {"review1" : "Watching 'The Last Rotation' was...
2         2     2  {"review1": "This film is a complete disaster....
3         3     3  {"review1": "This film is an abomination to ci...
4         4     4  {"review1" : "This film is a complete waste of...
...     ...   ...                                                ...
4098   4098  4098  {"review1": "This film is a complete waste of ...
4099   4099  4099  {"review1": "This film is a complete waste of ...
4100   4100  4100  {"review1": "The film's video quality is so po...
4101   4101  4101  {"review1":"This movie was a total snooze-fest...
4102   4102  4102  {"review1": "This movie is a perfect example o...

[4103 rows x 3 columns]

In [22]:
reviews_triplets = df_synth["chatgpt-output"].values.tolist()

In [23]:
review_list_synth = []
i = 0
for rev_json in reviews_triplets:
    try:
        rev = json.loads(rev_json)
        for key, val in rev.items():
            review_list_synth.append(val)
    except:
        print("exception")
        i+=1
print(i ," wrong outputs")
labels_synth = [0 for x in range(len(review_list_synth))]

exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
38  wrong outputs

In [24]:
df_synth_list = pd.DataFrame({"text" : review_list_synth, "label" : labels_synth})
df_synth_list.to_csv("../data/similar_negative_reviews_02.csv", sep=";")